* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'DM Sans', sans-serif;
}

.main-title{
    display: flex;
    flex-direction: column;
    min-height: 147px;
    padding-top: 210px;
    font-family: 'DM Sans';
}

.main_header{
    background: #EFEFEF;
    padding-top: 40px;
    padding-bottom: 32px;
}

.center {
    text-align: center;
}

.wrap {
    width: 1152px;
    margin: 0 auto;
}

.main_page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url(../images/hero_section.png); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 739px;
}

.main_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.learning-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.learning-button-block{
    text-align: center;
    margin-top: 54px;
}

.learning-text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 245px;
    margin-right: 224px;
    padding-left: 250px;
    padding-right: 250px;
}

.learning-button{
    padding: 16px 30px;
    background: #086CF9;
    border-radius: 4px;
    border: none;
}

.button-text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

.header-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #222222;
    text-decoration: none;
    padding-left: 45px;
}

.header-link_3{
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #222222;
    text-decoration: none;
}


.signup-button-link{
    background: #086CF9;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 24px;
}

.education-link{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
    text-decoration: none;
}

.first-element{
    padding-top: 8px;
    padding-bottom: 9px;
}

.signup-button-link{
    margin-left: 48px;
}

.fa, .fas {
    padding-left: 7px;
}
.second-element{
    padding-top: 12px;
}

.company-details{
    margin-top: -92px;
    min-width: 1141px;
    min-height: 192px;
    background: #FFFFFF;
    box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.fakta-block1{
    padding-top:56px;
    padding-left: 88px;
}

.fakta-block2{
    align-self: center;
}

.fakta-block3{
    padding-top:56px;
    padding-right: 88px;
}